In [2]:
import pandas as pd

In [3]:
budget = [10, 10, 5, 15, 15]

budget

[10, 10, 5, 15, 15]

In [8]:
s = pd.Series(budget) # series for one dimensional data / capitalized because it's an object

s

0    10
1    10
2     5
3    15
4    15
dtype: int64

In [9]:
s.mean()

11.0

In [10]:
s.min()

5

In [11]:
s.max()

15

In [12]:
s.describe()

count     5.0000
mean     11.0000
std       4.1833
min       5.0000
25%      10.0000
50%      10.0000
75%      15.0000
max      15.0000
dtype: float64

In [15]:
monthly_budget = {
    'month': ['Jun', 'Jul', 'Aug', 'Sep', 'Oct'], 
    'budget': budget,
    'ice cream': [20, 15, 30, 5, 10]
}

df = pd.DataFrame(monthly_budget)

df

  month  budget  ice cream
0   Jun      10         20
1   Jul      10         15
2   Aug       5         30
3   Sep      15          5
4   Oct      15         10

In [16]:
# What can we do with a dataframe?
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   month      5 non-null      object
 1   budget     5 non-null      int64
 2   ice cream  5 non-null      int64
dtypes: int64(2), object(1)
memory usage: 248.0+ bytes

In [17]:
# Pull out columns from df, and treat as series
df.month

0    Jun
1    Jul
2    Aug
3    Sep
4    Oct
Name: month, dtype: object

In [18]:
df['ice cream'] # handling spaces in field names

0    20
1    15
2    30
3     5
4    10
Name: ice cream, dtype: int64

In [19]:
df['ice cream'].mean()

16.0

In [20]:
# Pull out a specific row as a series; index location
df.iloc[1]

month        Jul
budget        10
ice cream     15
Name: 1, dtype: object